<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="${basedir}\Log\Internal.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="File"
            name="logfile"
            fileName="${basedir}\Log\${shortdate}\${message}\${uppercase:${level}}\${date:format=yyyy-MM-dd_HH-mm-ss}.log"
            layout="
Request   : ${gdc:item=Request}${newline} 
Response  : {gdc:item=Response}${newline}">
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>

</nlog>
