$c-grey: #858585;
$c-grey-light: lighten($c-grey, 20%);
$c-grey-dark: darken($c-grey, 10%);
$c-blue: #00a2d9;
$c-blue-dark: darken($c-blue, 10%);
$c-blue-light: lighten($c-blue, 20%);
$c-blue-lighter: lighten($c-blue, 50%);
$c-red: #f54643;
$c-pink: #ef43a6;
$c-orange: #fe6503;
$c-green: #7bc44a;
$c-brown: #a67351;
$c-text: #005673;

.errorText {
  color: $c-red !important;
  margin: 0;
  font-size: 0.75rem;
  text-align: left;
  margin-top: 8px;
  min-height: 1em;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: 0.03333em;
}

.mt-1 {
  margin-top: 0.75rem !important
}.mt-2 {
  margin-top: 1.5rem !important
}.mt-3 {
  margin-top: 2.25rem !important
}

